#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "The Best Online Notebook."
		%p.name - Sharapov Amangeldi
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Success doesn’t come to you… you go to it. Успех сам не приходит к Вам… Вы идете к нему.
			.callout
				%h2 Notes
				%p The most difficult for the Person - to be every day the Person! Самое трудное для Человека- быть каждый день Человеком ! Ч.Айтматов.

			.callout
				%h2 Notes
				%p If you are pure if I am pure, and society will be pure!  Если ты будешь чист, если я буду чист, то и общество будет чистым! И.Раззаков.
#bottom_cta
	.wrapper
		%h2 For Realz!
		%p I want you to sign up... If you don’t. I will find you :)!
		%button= link_to "Click Meee!!!", new_user_registration_path

%footer
	%p &copy;